@font-face {
    font-family: ImpactFont;
    src:local('Impact'),
        url('https://electrovoyage.github.io/exapunks-online-demo/fonts/impact.ttf') format('truetype'),
        url('https://electrovoyage.github.io/exapunks-online-demo/fonts/impact.otf') format('opentype'),
        url('https://electrovoyage.github.io/exapunks-online-demo/fonts/impact.woff') format('woff'),
        url('https://electrovoyage.github.io/exapunks-online-demo/fonts/impact.woff2') format('woff2');
}

.main {
    background-image: url('https://electrovoyage.github.io/exapunks-online-demo/textures/desktop.png')
}